:root {
    color: #000;
  }

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.modal-overlay .modal-body {
    background-color: rgba(0, 0, 0, 0.589); /* Transparent background */
    backdrop-filter: blur(10px);
    padding: 24px;
    max-width: 40rem;
    border-radius: 24px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.modal-overlay .modal-body h2 {
    font-size: 32px;
}


.modal-overlay .modal-body .input-container {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 3fr;
}   

.item {
    grid-row: 1/2;
    margin-left: 50px;
    margin-right: 50px;
}

.item2 {
    grid-row: 2/2;
    margin-left: 50px;
    margin-right: 50px;
}

.modal-overlay .modal-body input {
    padding: 12px;
    border: 2px solid #c6c5c5c5;
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;

    margin-bottom: 12px;
}

.modal-overlay .modal-body label {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overlay .modal-body .btn-secondary {
    position: initial;
    min-width: 8rem;
    max-width: 8rem;
    margin-top: 32px;
}

.modal-overlay .modal-body .btn-secondary:hover {
    background-color: #3a44f8;
    transform: scale(1);
}

